@import url('https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', system-ui;
    color: #243e63;
    text-decoration: none;
}
body {
    max-width: 100vw;
    overflow-x: hidden;
}


section {
    padding: 0 32px;
}



nav {
   display: flex;
   padding-top: 32px;
}
.nav__row {
    display: flex;
    justify-content: space-between;
    
}

.row {
    display: flex;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}
.nav__logo--img {
   width: 40px;
   height: 40px; 
}

.nav__logo {
    
    display: flex;
    align-items: center;
    margin: 8px 0;
    padding-bottom: 4px;
}
.nav__links {
    display: flex;
    gap: 24px;
    align-items: center;
    transition: all 300ms;
    
    
}
.nav__link {
    font-size: 14px;
    font-weight: 600;
    padding-top: 4px;
    letter-spacing: 0.35px;
    border-bottom: 2px solid transparent;
    position: relative;
    
}
.nav__link--login {
    margin-left: 48px;
}
.nav__link--primary {
    margin: 0;
    padding: 10px 32px;
    margin-top: 2px;
    border-radius: 9999px;
    background: #6415ff;
    color: #fff;
    line-height: 1.5;
    border: none;
    width: auto;
    
}
.btn__menu {
    display: none;
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.nav__logo--title {
    
    font-size: 24px;
    font-weight: 900;
    margin-left: 12px;
    letter-spacing: 0.6px;
    padding-bottom: 2px;
}
.header__description {
    margin-top: 32px;
    font-size: 24px;
    font-weight: 600;
    line-height: 1.2;
}

.header__description--para {
    margin-top: 16px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: #6b7280;
}
h1 {
    color: #1a202c;
    line-height: 1.25;
}
.header__email--btn {
    z-index: 2;
    margin: 8px;
    height: calc(100% - 16px);
    border-radius: 500px;
    width: 160px;
    border: none;
    cursor: pointer;
    background-color: #6415ff;
    color: #fff;
    font-weight: 700;
    font-size: 16px;
    transition: all 300ms;
}
.header__customers {
    margin-top: 16px;
    padding-right: 128px;
    opacity: 0.5;
}